:root {
    --color-targeta-1:  #35bc53;
    --color-targeta-2: #ef392a;
}


#container-modulo-inventario {
    width: 100%;
    height: 100%;
}

.contenedor-elementos-buscador {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contenedor-elementos-buscador input {
    max-width: 84%;
}

.contenedor-elementos-buscador .btn-buscar-inventario {
    width: 14%;
}

.contenedor-botones-inventario {
    margin-bottom: 5px 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}